node_modules/
dist/
dist-test/
docs/api/
typings/
npm-debug.log
.idea/
.vscode/settings.json
angular-fire-*.tgz
angularfire2-*.tgz
*.ngfactory.ts
*.ngsummary.json
.DS_Store
yarn-error.log
*.bak
package-lock.json
test/ng-build/**/yarn.lock
tools/build.js
coverage
