language: node_js
sudo: false
node_js:
  - "10"

addons:
  chrome: stable

cache:
  yarn: true
  directories:
    - node_modules
    - "$HOME/.npm"
    - "$HOME/.cache"

env:
  - CANARY=false
  - CANARY=true

matrix:
  fast_finish: true
  allow_failures:
    - env: CANARY=true

branches:
  only:
    - master # otherwise pull requests get built twice
    - v5

install:
  - |
    if $CANARY; then
      yarn upgrade && yarn add firebase@canary
    else
      if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then
        yarn upgrade
      else
        yarn install --frozen-lockfile
      fi
    fi

script:
  - yarn build
  - |
    ./node_modules/.bin/karma start --single-run --browsers ChromeHeadlessTravis --reporters mocha &&
    yarn test:node &&
    node tools/run-typings-test.js &&
    bash ./test/ng-build/build.sh
