language: node_js
sudo: false
node_js:
- 'node'

addons:
  chrome: stable
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

cache: npm

env:
  - CXX=g++-4.8

install:
  # ditched yarn, since it was acting up and giving old versions of tsc
  - npm install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run build
  - ./node_modules/.bin/karma start --single-run --browsers Firefox --reporters mocha
  # Run integration test to make sure our typings are correct for user-land.
  - node tools/run-typings-test.js

notifications:
  webhooks:
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
