language: node_js
sudo: false
node_js:
- 'node'

addons:
  firefox: latest
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

cache: npm

env:
  - CXX=g++-4.8

install:
  - npm

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - ./node_modules/typescript/bin/tsc -v
  - npm run build
  - ./node_modules/.bin/karma start --single-run --browsers Firefox --reporters mocha
  # Make sure the build that ships to npm builds without errors
  - npm run build_npm
  # Run integration test to make sure our typings are correct for user-land.
  - node tools/run-typings-test.js
  # Can't run until https://github.com/angular/protractor/issues/2784 is resolved
  #- ./node_modules/.bin/protractor protractor.conf.js --browser firefox

notifications:
  webhooks:
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
