language: node_js
sudo: false
node_js:
- '5.4.1'

addons:
  firefox: latest
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

cache:
  directories:
    - node_modules
    - typings

env:
  - CXX=g++-4.8

install:
  - npm install
  - ./node_modules/.bin/typings install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run build
  - ./node_modules/.bin/karma start --single-run --browsers Firefox --reporters mocha
  # Make sure the build that ships to npm builds without errors
  - npm run build_npm
  # Can't run until https://github.com/angular/protractor/issues/2784 is resolved
  #- ./node_modules/.bin/protractor protractor.conf.js --browser firefox

notifications:
  webhooks:
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
