{% extends "default.njk" %}
{% import "next-prev.njk" as nextprev with context %}

{% block content %}

  <h1>{{ title }}</h1>
  
  {{ content | safe }}
  {{ nextprev.contextgrid("guides") }}

{% endblock %}
