name: Unit tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12.x
    - name: yarn test
      run: |
        yarn install --frozen-lockfile
        yarn build
        yarn test:all
        yarn lint